
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_TeamSidebar")
        </div>
        <div>
            @*@Html.Action("CaptureUrls", "Dashboard")*@
        </div>
    </div>
</div>




